function Tetris.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 20
pop this 3
push constant 10
pop this 4
push constant 4
pop this 5
push constant 1
neg
pop this 6
push constant 20
pop this 7
push constant 10
pop this 8
push constant 0
pop this 9
push constant 0
pop this 10
push this 3
call Array.new 1
pop this 0
push this 5
call Array.new 1
pop this 1
push this 5
call Array.new 1
pop this 2
push pointer 0
return
function Tetris.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 3
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Array.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Tetris.start 9
push argument 0
pop pointer 0
push constant 0
not
pop local 4
push constant 0
not
pop local 3
push constant 0
pop local 5
push constant 10
pop local 6
push constant 100
pop local 7
push constant 133
pop local 2
push constant 3000
pop local 8
label WHILE_EXP0
push local 4
not
if-goto WHILE_END0
push pointer 0
call Tetris.initializeGrid 1
pop temp 0
push pointer 0
call Tetris.initializeActiveBlocks 1
pop temp 0
push constant 0
not
pop local 3
push constant 0
pop local 5
label WHILE_EXP1
push local 3
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 1
push pointer 0
push local 1
call Tetris.moveActiveBlocks 2
pop temp 0
push local 5
push constant 1
add
pop local 5
push local 5
push local 6
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Tetris.generateBlocks 1
pop temp 0
label IF_FALSE1
push pointer 0
push local 2
call Tetris.moveActiveBlocks 2
pop this 9
push this 9
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Tetris.deactivateBlocks 1
pop temp 0
label IF_FALSE2
push pointer 0
call Tetris.checkConditions 1
pop local 3
push constant 1
pop local 5
label IF_FALSE0
push pointer 0
call Tetris.updateScreen 1
pop temp 0
push local 7
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 8
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tetris.deactivateBlocks 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 5
lt
not
if-goto WHILE_END0
push local 1
push this 2
add
pop pointer 1
push that 0
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push this 1
add
pop pointer 1
push that 0
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tetris.checkConditions 4
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 2
push this 3
lt
not
if-goto WHILE_END0
push local 2
push this 0
add
pop pointer 1
push that 0
pop local 0
label WHILE_EXP1
push local 3
push this 4
lt
not
if-goto WHILE_END1
push local 3
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 1
push this 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
call Tetris.clearLine 2
pop temp 0
label IF_FALSE1
push constant 0
pop local 1
push constant 0
pop local 3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 2
push constant 0
push this 0
add
pop pointer 1
push that 0
pop local 0
label WHILE_EXP2
push local 3
push this 4
lt
not
if-goto WHILE_END2
push local 3
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
return
function Tetris.clearLine 3
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push constant 1
neg
gt
not
if-goto WHILE_END0
push constant 0
pop local 2
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
label WHILE_EXP1
push local 2
push this 4
lt
not
if-goto WHILE_END1
push local 2
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
goto IF_END0
label IF_FALSE0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop local 1
label WHILE_EXP2
push local 2
push this 4
lt
not
if-goto WHILE_END2
push local 2
push local 0
add
push local 2
push local 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
label IF_END0
push argument 1
push constant 1
sub
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tetris.canMove 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push argument 1
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push local 1
push this 5
lt
not
if-goto WHILE_END0
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 0
gt
push local 1
push this 1
add
pop pointer 1
push that 0
and
push this 4
lt
push local 1
push this 2
add
pop pointer 1
push that 0
and
push constant 1
neg
gt
push local 1
push this 2
add
pop pointer 1
push that 0
and
push this 3
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push this 2
add
pop pointer 1
push that 0
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
sub
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push constant 0
return
label IF_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
label IF_FALSE0
push argument 1
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push argument 1
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
label WHILE_EXP1
push local 1
push this 5
lt
not
if-goto WHILE_END1
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
neg
gt
push local 1
push this 1
add
pop pointer 1
push that 0
push this 4
push constant 1
sub
lt
and
push local 1
push this 2
add
pop pointer 1
push that 0
push constant 1
neg
gt
and
push local 1
push this 2
add
pop pointer 1
push that 0
push this 3
lt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push this 2
add
pop pointer 1
push that 0
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
add
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
goto IF_END5
label IF_FALSE5
push constant 0
return
label IF_END5
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
not
return
label IF_FALSE4
push argument 1
push constant 133
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
label WHILE_EXP2
push local 1
push this 5
lt
not
if-goto WHILE_END2
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
neg
gt
push local 1
push this 1
add
pop pointer 1
push that 0
and
push this 4
lt
push local 1
push this 2
add
pop pointer 1
push that 0
and
push constant 1
neg
gt
push local 1
push this 2
add
pop pointer 1
push that 0
and
push this 3
push constant 1
sub
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 1
push this 2
add
pop pointer 1
push that 0
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push this 1
add
pop pointer 1
push that 0
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
return
label IF_FALSE9
goto IF_END8
label IF_FALSE8
push constant 0
return
label IF_END8
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
return
label IF_FALSE7
push constant 0
return
function Tetris.moveActiveBlocks 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push pointer 0
push argument 1
call Tetris.canMove 2
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP0
push local 0
push this 5
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push local 0
push this 1
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
label IF_FALSE1
push argument 1
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label IF_FALSE2
push argument 1
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
label WHILE_EXP1
push local 0
push this 5
lt
not
if-goto WHILE_END1
push local 0
push this 1
add
push local 0
push this 1
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
not
return
label IF_FALSE3
push argument 1
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
label WHILE_EXP2
push local 0
push this 5
lt
not
if-goto WHILE_END2
push local 0
push this 2
add
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
return
label IF_FALSE4
label IF_FALSE0
push argument 1
push constant 140
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
call Sys.halt 0
pop temp 0
push constant 0
return
label IF_FALSE5
push constant 0
return
function Tetris.generateBlocks 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop this 9
push this 10
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push local 0
push this 5
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
goto IF_END0
label IF_FALSE0
label WHILE_EXP1
push local 0
push this 5
lt
not
if-goto WHILE_END1
push local 0
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
label IF_END0
push this 10
not
pop this 10
push constant 0
return
function Tetris.updateScreen 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 2
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 1
push this 3
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
label WHILE_EXP1
push local 2
push this 4
lt
not
if-goto WHILE_END1
push local 2
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push this 7
call Math.multiply 2
push constant 4
add
push local 1
push this 8
call Math.multiply 2
push constant 2
add
push local 2
push constant 1
add
push this 7
call Math.multiply 2
push local 1
push constant 1
add
push this 8
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP2
push local 2
push this 5
lt
not
if-goto WHILE_END2
push local 2
push this 1
add
pop pointer 1
push that 0
push this 6
gt
push local 2
push this 2
add
pop pointer 1
push that 0
push this 6
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push this 1
add
pop pointer 1
push that 0
push this 7
call Math.multiply 2
push constant 4
add
push local 2
push this 2
add
pop pointer 1
push that 0
push this 8
call Math.multiply 2
push constant 2
add
push local 2
push this 1
add
pop pointer 1
push that 0
push constant 1
add
push this 7
call Math.multiply 2
push local 2
push this 2
add
pop pointer 1
push that 0
push constant 1
add
push this 8
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Tetris.initializeActiveBlocks 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 5
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push this 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 2
add
push this 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tetris.initializeGrid 3
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 3
lt
not
if-goto WHILE_END0
push constant 0
pop local 2
push this 4
call Array.new 1
pop local 0
label WHILE_EXP1
push local 2
push this 4
lt
not
if-goto WHILE_END1
push local 2
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
